/* Global Styles */

:root {
    --hover-color: #ffdd57;
}

body {
    font-family: "Cairo", sans-serif;
    background: linear-gradient(135deg, #87CEEB, #4682B4);
    color: white;
    text-align: center;
    margin: 0;
    padding: 0;
}

/* Header Styling */
header {
    background: rgba(0, 0, 0, 0.2);
    padding: 20px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

h1 {
    font-size: 2rem;
    margin-bottom: 25px;
}

/* Search Bar */
.search-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.search-container input {
    width: 250px;
    padding: 10px;
    border: none;
    border-radius: 20px;
    outline: none;
    font-size: 1rem;
}

.search-container button {
    background: white;
    color: black;
    border: none;
    padding: 10px 15px;
    border-radius: 50%;
    cursor: pointer;
    font-size: 1.1rem;
    transition: 0.3s;
    display: flex;
    align-items: center;
    justify-content: center;
}

.search-container button:hover {
    background: var(--hover-color);
}


main {
    padding: 30px;
}

/* Weather Info Section */
.weather-info {
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(10px);
    padding: 20px;
    border-radius: 15px;
    text-align: center;
    width: 300px;
    margin: auto;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
}

.weather-info img {
    width: 100px;
    height: 100px;
}

.weather-info h2 {
    font-size: 1.8rem;
    margin-bottom: 10px;
}

.weather-info p {
    font-size: 1.2rem;
    margin: 5px 0;
}

.weather-info i {
    color: var(--hover-color);
    margin-right: 8px;
    font-size: 1.3rem;
}


/*Map Section*/

.map-section {
    width: 100%;
    height: 500px;
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center
}

.map-section #map {
    width: 700px;
    height: 400px;
    min-height: 300px;
    margin-top: 20px;
    border-radius: 10px;
}
